// .header {
//   display: flex;
//   flex-direction: row;
//   justify-content:space-between;
//   align-items: center;
//   color:rgba(0, 0, 0, 0.733);
//   margin: 0 10px 0 10px;
//   font-family: 'Roboto', sans-serif;
//   flex-wrap: wrap;
// }

// nav ul {
//   display: flex;
//   flex-direction: row;
//   gap: 10px;
//   font-family: 'Georama', sans-serif;
//   color: rgb(32, 32, 92);
//   list-style: none;
//   flex-wrap: wrap;
// }

li a:hover {
  color: rgb(130, 130, 163);
}

nav ul li a {
  padding: 7px 7px;
  border-radius: 3px;
}

a.active, a:hover {
  background-color: rgb(130, 130, 163);
  -webkit-transition: .5s;
  transition: .5s;
}

.cuotasimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
display: flex;
flex-direction: row;
justify-content: center;
color:rgb(32, 32, 92);
font-weight: bolder;
margin-bottom: 30px;
// background-image: url("../imagenes/madera2.jpg");
padding: 70px;
}

h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: rgb(32, 32, 92);
  padding: 30px; 
}


// .home {
//   background: beige;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

// .home-texto {
//   font-family: 'Acme', sans-serif;
//   color: pink;
//   font-size: 5rem;
// }
// .hide {
//   background: beige;
//   overflow: hidden;
// }
// .hide span {
//   transform: translateY(100%);
//   display: inline-block;
// }

// .slider {
//   background: blue;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transform: translateY(100%);
// }


footer {
display: flex;
flex-direction: row;
justify-content: center;
justify-items: center;
background-color: rgba(184, 178, 178, 0.604);
margin-top: 100px;
padding: 20px;
}
