.header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  color:rgba(0, 0, 0, 0.733);
  margin: 0 10px 0 10px;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: 'Georama', sans-serif;
  color: $colorHeader;
  list-style: none;
  flex-wrap: wrap;
}

li a:hover {
  color: rgb(130, 130, 163);
}

nav ul li a {
  padding: 7px 7px;
  border-radius: 3px;
}

a.active, a:hover {
  background-color: rgb(130, 130, 163);
  -webkit-transition: .5s;
  transition: .5s;
}


h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-weight: bolder;
  background-color: rgb(130, 130, 163);
  padding: 50px; 
}


h4 {
margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}



span {
  font-weight: bold;
}

#productosContenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}


td {
  padding: 5px;
}

th {
  padding-bottom: 10px;
}

// .btn-info{
//   display: inline-block;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   user-select: none;
// }


// .card {
//   display: flex;
//   flex-direction: row;
//   color: $colorLetra;
//   margin-bottom: 30px;
// }

  

img {
  margin-bottom: 50px;
}

.cart {
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 0px;
  margin-bottom: 70px;
  margin-right: 600px;
  background: rgb(130, 130, 163);
 }

.cartNombre  {
  color: rgb(130, 130, 163);
  display: flex;
  justify-content: left;
  padding: 10px;
  // margin-top: 40px;
  // margin-bottom: 0px;
  // margin-right: 400px;
  // margin-left: 20px;
}


.open-modal {
  font-weight: bold;
  background: var(--blue);
  color: var(--white);
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.modal { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
